body {
    font-family: 'Georgia', serif;
    margin: 0;
    padding: 0;
    background-color: #fff8e1; /* 温かみのある背景色 */
    color: #333;
}

header {
    text-align: center;
    padding: 20px;
    background-color: #ffe0b2; /* ヘッダーの背景色 */
    border-bottom: 2px solid #ffab40;
}

.welcome-message {
    font-size: 1.8em;
    color: #d84315; /* 温かみのある文字色 */
    margin-bottom: 10px;
}

.menu-title {
    font-size: 1.5em;
    color: #6d4c41; /* 落ち着いたブラウン */
    margin: 20px auto; /* 上下に余白を追加し、中央に配置 */
    text-align: center; /* テキストを中央揃え */
}

main {
    padding: 20px;
}

.plans-container {
    display: flex;
    flex-direction: column;
    align-items: center; /* 中央に配置 */
    gap: 20px;
}

.plan {
    text-align: center; /* テキストを中央揃え */
    font-size: 1.2em;
    background-color: #fff3e0; /* カードの背景色 */
    border: 1px solid #ffab40;
    border-radius: 8px;
    padding: 10px 20px;
    width: 300px; /* カードの幅を固定 */
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.header-image {
    display: block;
    margin: 20px auto;
    max-width: 100%;
    height: auto;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}